<div class="instagram">
  <div class="title">
    <h2>Наш инстаграм</h2>
    <a href="">@parisnail_stamping</a>
  </div>
  <div class="instagram_wrapper">
    <div class="categorie_item">
      <a href="">photo</a>
    </div>
    <div class="categorie_item">
      <a href="">photo</a>
    </div>
    <div class="categorie_item">
      <a href="">photo</a>
    </div>
    <div class="categorie_item">
      <a href="">photo</a>
    </div>
    <div class="categorie_item">
      <a href="">photo</a>
    </div>
    <div class="categorie_item">
      <a href="">photo</a>
    </div>

  </div>
</div>
