<div class="categories">
  <div class="title">
    <h2>Наши категории</h2>
  </div>
  <div class="categories_wrapper">
    <div class="categorie_item">
      <a href="">Оборудование</a>
    </div>
    <div class="categorie_item">
      <a href="">Пластины</a>
    </div>
    <div class="categorie_item">
      <a href="">Товары для стемпинга</a>
    </div>
    <div class="categorie_item">
      <a href="">Расходники</a>
    </div>
    <div class="categorie_item">
      <a href="">Жидкости</a>
    </div>
    <div class="categorie_item">
      <a href="">Дизайны</a>
    </div>

  </div>
</div>
