<div class="offer wrapper">
  <h2>Предложение для крупных клинтов и торговых представителей</h2>
  <div class="offer_items_wrapper">
    <div class="offer_item">
      <div class="offer_item_title">Комфортные уссловия сотрудничества</div>
      <div class="offer_item_descr">
        <p>скидка от 10%
          (при заказе от 10 000 руб.) до 50% (при заказе от 250 000 руб.), возможность обмена
        товаров и рассрочка.
        </p>
      </div>
    </div>
    <div class="offer_item">
      <div class="offer_item_title">Профессиональное сопровождение партнера</div>
      <div class="offer_item_descr">
        <p>у каждого партнера есть  персональный менеджер, который оповещает о выгодных предложениях и консультирует по ассортименту.
        </p>
      </div>
    </div>
    <div class="offer_item">
      <div class="offer_item_title">Обновление и расширение ассортимента</div>
      <div class="offer_item_descr">
        <p>линейка товаров ParisNail в ближайший год существенно расширится – от гель-лаков
до оборудования.
        </p>
      </div>
    </div>
  </div>
  <div class="offer_cta">
    <h2>Узнать условия оптовых закупок</h2>
    <a href="">Подробнее</a>
    <a href="">Стать ппредставителем ParisNail</a>
  </div>
</div>
