.custom-owl-carousel .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -20px;
}
.custom-owl-carousel .owl-nav button.owl-prev {
    left: -24px;
}
.custom-owl-carousel .owl-nav button.owl-next {
    right: -24px;
}