
body{
  min-width: 375px;
  overflow-x: hidden;
}
.App {

}
body {

}
ul {
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
.admin-menu{
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.admin-link{

}
.inner {
  width: 100%;
}
.container {
  max-width: 1172px;
  margin:auto;
  padding: 0 15px;
}
.owl-stage-outer {
  padding: 15px 0;
}
h2{
  font-size: 36px;
}
@media screen and (max-width: 720px) {
  h2 {
    font-size: 20px;
  }
}
